bcrypt==4.0.1
fastapi
flower
uvicorn
sqlalchemy
psycopg2-binary
redis
celery
python-jose
passlib[bcrypt]==1.7.4
python-multipart
pydantic
torch
torchvision
openslide-python
Pillow
numpy
opencv-python

